body {
    padding: 3%
}

.navigation1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: whitesmoke;
    border-top-style: solid;
    border-bottom-style: solid;
  }
  
  .navigation1 a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: gray;
    font-family: 'Inter';
  }
  
  .navigation1 a:hover {
    background: whitesmoke;
    color: palevioletred;
  }
  
  @media all and (max-width: 800px) {
    .navigation1 {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation1 {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation1 a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation1 li:last-of-type a {
      border-bottom: none;
    }
  }

  .flex-container {
    display: flex; /* We first create a flex layout context */
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item0 {
    display: flex;
    background: whitesmoke;
    padding: 0px;
    width: 50%;
    height: 700px;
    margin-top: 0px;
    line-height: 100%;
    color: black;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 3em;
    align-items: center;
    justify-content: center;
  }

  .flex-item1 {
    background: gray;
    padding: 0px;
    width: 50%;
    height: 700px;
    margin-top: 0px;
    line-height: 100%;
    color: white;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 2em;
    text-align: left;
  }

  p {
    margin: 15%
  }

  h6 {
    margin: 15%;
  }

  span {
    color:plum;
  }